@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    margin: 0;
    padding: 0;
}
